* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/*LAYOUT*/
.container {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.principal {
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 4px 3px 5px #e0e0e0;
}

/*ESQUERDA*/
.parte1 {
    background-color: #F6F6F6;
    border-radius: 10px 0 0 10px;
}

.parte1 img {
    width: 100%;
}

/*DIREITA*/
.parte2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #7338F2;
    border-radius: 0 10px 10px 0;
}

.parte2 h1 {
    background-color: #FFFFFF;
    color: #31188C;
    margin: 2vh 0 5vh 0;
    padding: 5px 10px;
}

/*input login*/
#login input {
    color: #371277;
    border-radius: 10px;
}

#login p {
    color: #FFFFFF;
    font-size: .8em;
    margin-bottom: 5px;
}

/*input cep*/
#enderecos input {
    color: #371277;
    border-radius: 10px;
}

#enderecos h3 {
    margin: 3vh 0 2vh 0;
    color: #FFFFFF;
    font-weight: lighter;
}

input, button {
    padding: 10px;
    margin: 3px;
    border: 1px solid #818181;
    border-radius: 6px; 
}

textarea:focus,
input:focus,
select:focus {
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
}

/*termos*/
.conectado {
    cursor: pointer;
    color: #ffffff;
    margin: 1vh 0 2vh 0;
    padding: 5px;
    font-size: 11px;
}

#botao {
    font-weight: bolder;
    cursor: pointer;
    background-color: #ffffff;
    color: #361259;
    border: solid 1px #361259;
    width: 8vw;
    margin-bottom: 2vh;
}

#botao:hover {
    background-color: #31188C;
    color: #ffffff;
    transition: .3s;
}

.conta {
    margin-bottom: 20px;
}

.conta a {
    text-decoration: none;
    color: #B7AEEE;
}

.conta p {
    color: #ffffff;
}

/*controle de erros*/
#erroSenha {
    display: none;
    color: #ff0000;
    font-size: .7em;
}

#acertoSenha {
    display: none;
    color: #008000;
    font-size: .7em;
}

/*footer*/
.final {
    display: flex;
    justify-content: center;
    color: #0A0E59;
    font-size: .8em;
    margin-top: 7vh;
}

/*RESPONSIVIDADE DESKTOP 2*/
@media(max-width: 915px) {
    #enderecos {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

/*RESPONSIVIDADE MOBILE*/
@media (max-width: 768px) {
    .container {
        margin-top: 5vh;
    }
    
    .parte1 {
        display: none;
    }

    .parte2 {
        width: 80vw;
        padding: 30px;
        border-radius: 10px;
    }

    .parte2 h1 {
        margin: 1vh 0 4vh 0;
    }

    #login input {
        width: 70vw;
        margin-bottom: 2vh;
    }

    #enderecos {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #enderecos input {
        width: 60vw;
    }

    #botao {
        width: 20vw;
    }
}