* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to right, #741DFF , #7647bb);
}

.principal {
    background-color: #ffffff;
    box-shadow: 0 0 0.7em #371277;
    position: relative;
    border-radius: 15px;
    width: 500px;
    height: 90vh;
    left: 50%;
    top: 5vh;
    transform: translate(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.principal h1 {
    position: relative;
    top: 8vh;
}

/*input login*/
#login input {
    position: relative;
    top: 12vh;
    width: 320px;
    color: #371277;
}

/*input cep*/
#enderecos input {
    position: relative;
    top: 17vh;
    width: 145px;
    color: #371277;
}

#enderecos h3 {
    position: relative;
    top:15vh;
}

input, button {
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    margin: 3px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 6px; 
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
}

/*termos*/
.conectado {
    padding: 5px;
    margin: 2px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 63vh;
    left: 4vw;
}

#botao {
    color: white;
    background-color: #9b61f8;
    cursor: pointer;
    width: 300px;
    position: absolute;
    top: 68vh;
    left: 50%;
    transform: translate(-50%);
}

#botao:hover {
    background-color: #fff;
    color: #9b61f8;
    transition: 0.2s ease-in;
}

a, h1, h3 {
    color: #741DFF;
    text-decoration: none;
}

.conta p {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%);
}

/*controle de erros*/
#erroSenha {
    font-size: .7em;
    color: #ff0000;
    float: left;
    position: absolute;
    top: 255px;
    left: 80px;
    display: none;
}

#acertoSenha {
    font-size: .7em;
    color: #008000;
    float: left;
    position: absolute;
    top: 255px;
    left: 80px;
    display: none;
}

.final h6 {
    position: absolute;
    top: 98vh;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
    font-weight: lighter;
}

/*responsividade*/
@media(max-width: 1200px) {
    .conectado {
        top: 65vh;
        left: 10vw;
    }

    #botao {
        top: 70vh;
    }

    .conta p {
        top: 80vh;
    }
}

/*responsividade mobile*/
@media(max-width: 600px) {
    .principal {
        top: 4vh;
        width: 90vw;
        height: 630px;
        overflow-x: hidden;
    }

    .titulo {
        position: relative;
        top: 2vh;
    }

    #login input {
        width: 80vw;
    } 

    #enderecos input {
        width: 30vw;
    }

    .conectado {
        position: relative;
        top: 17vh;
        left: 10vw;
        font-size: .7em;
    }

    #botao {
        position: relative;
        top: 18vh;
        width: 60vw;
    }

    .conta p {
        position: relative;
        top: 20vh;
        left: 50%;
        transform: translate(-50%);
        font-size: .8em;
    }

    #erroSenha {
        position: relative;
        top: 13vh;
        left: 20px;
    }

    #acertoSenha {
        position: relative;
        top: 13vh;
        left: 20px;
    }

    .final h6 {
        position: relative;
        top: 15vh;
        font-size: .5em;
        text-align: center;
    }
}